.navbar-nav a{
    color: white;
}
.navbar-nav a:hover{
    /* color: rgb(197, 197, 197); */
    color: rgb(221, 221, 221);
}
.srch{
    background-color: black;
    border-color: white;
    color: white;
    width: 150px;
    height: 40px;
}
::placeholder {
    color: rgb(255, 250, 250);
    opacity: 1;
  }
.nav-link{
    font-weight: bold;
}
.topad{
    color: white;
    text-align: center;
}
.topad p{
    top: 30px;
}
.cover{
    position: relative;
}
.welc{
    color: rgb(7, 7, 7);
    position: absolute;
    font-size: 50px;
    left: 90px;
    top: 300px;
}
.btn{
    border-radius: 20px;
    color: white;
    background-color: black;
}
/* .btn1{
    border-radius: 30px;
    color: white;
    background-color: black;
} */
.flip{
    color: rgb(251, 250, 250);
    position: absolute;
    font-size: 40px;
    left: 90px;
    top: 990px;
}
.ins{
    color: rgb(85, 102, 85);
    position: absolute;
    width: 250px;
    height: 200px;
    left: 155px;
    top: 567px;
 }
.scroll{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 600px;
    display: flex;
    overflow: auto;
    transition-delay: 0.5s;
  }
  div.scroll {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    height: 500px;
    width: 100%;
    
  }
  
  div.scroll img {
    padding: 10px;
    height: 97%;
    width: 100%;
  }
  .sneak{
    position: relative;
  }
  .sneak_dtls{
    position: absolute;
    left: 50px;
    top: 150px;
    color: white;
  }
  .sneak_dtls h2{
    font-size: 40px;
  }
  .fashion{
    background-color: rgba(186, 129, 23, 0.925);
  }
  .fashion_dtls{
    position: absolute;
    color: rgba(24,24,24,255);
    right: 70px;
    text-align: center;
    top: 4000px;
}
.fashion_dtls h2{
    font-size: 3vw;
}
.fashion_dtls p{
    font-size: 25px;
}
.one_piece{
  position: relative;
}
.op{
  position: absolute;
  color:white;
  left: 50px;
  top: 400px;
  text-align: center;
}
.op h2{
  font-size: 35;
}
.op p{
  font-size: 23px;
}
.op .btn{
  border-radius: 20px;
  color: white;
  background-color: black;
}
.grid{
  display: flex;
  background-color: white;
}
.g2{
  flex: 50%;
  background-color: white;
  padding: 20px;
  height: auto;
}
/* .grid2{
  display: flex;
  background-color: white;
}
.g3{
  flex: 50%;
  background-color: white;
  padding: 20px;
  height: auto;
} */ 
.main-stock{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 90%;
  margin: auto;
}
.new-arrival-details{
  position: relative;
}
.new-arrival-details i{
  position: absolute;
  right: 1%;
  background-color: #f0f0f0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-top: 7px;
  padding-left: 7px;
}
.new-arrival-details .button a{
  background-color: #f0f0f0 !important;
color: #888888;
text-shadow: none;
border: 1px solid #888888;
font-size: 10px;
font-weight: 600;
text-transform: uppercase;
padding: 15px 25px;
display: inline-block;
line-height: 1;
text-align: center;
transition: all .3s;
text-decoration: none;
}
.row img{
width: 100%;
height: 330px;

}
.new-row{
  width: 100%;
  height: 100px;
  padding:0;
}
.card{
  border: none;
  background-color: rgba(250,250,250,255);
}
.threecards{
  display: flex;
}
.cards{
  text-align: center;
  margin: 10px 10px;
  background-color: white;
}
.easy{
  position: relative;
  background-color: rgba(25,25,25,255);
  width: 100%;
  height: 500px;
  margin-top: 80px;
  margin-bottom: 150px;
}
.easy_dtls{
  position: absolute;
  top: 20px;
  color: white;
  left: 90px;
}
.easy_head{
  color: white;
  font-size: 35px;
  margin-bottom: 10px;
}
.easy1{
  position: absolute;
  right: 90px;
  top: -30px;
}
.easy2{
  position: absolute;
  top: 170px;
  left: 90px;
}

footer{
  display: flex;
}
.one_piece{
  position: relative;
}
.op{
  position: absolute;
  color: black;
  left: 50px;
  top: 400px;
  text-align: center;
}
.op h2{
  font-size: 35px;
}
.op p{
  font-size: 23px;
}
.op .btn{
  background-color:black;
}
footer a{
  text-decoration: none;
  color: rgb(162, 162, 162);
  font-size: small;
}
footer h6{
  font-weight: bold;
}
footer  a:hover{
  color: white;
}
footer img{
  padding: 5px;
  margin-bottom: 5px;
}